@import "tailwindcss";
/* Required by all components */
@import '../../vendor/filament/support/resources/css/index.css';

/* Required by actions and tables */
@import '../../vendor/filament/actions/resources/css/index.css';

/* Required by actions, forms and tables */
@import '../../vendor/filament/forms/resources/css/index.css';

/* Required by actions and infolists */
@import '../../vendor/filament/infolists/resources/css/index.css';

/* Required by notifications */
@import '../../vendor/filament/notifications/resources/css/index.css';

/* Required by actions, infolists, forms, schemas and tables */
@import '../../vendor/filament/schemas/resources/css/index.css';

/* Required by tables */
@import '../../vendor/filament/tables/resources/css/index.css';

/* Required by widgets */
@import '../../vendor/filament/widgets/resources/css/index.css';

@variant dark (&:where(.dark, .dark *));
@source "../views/**/*";

@theme {
    --color-gold-100: #faf1d3;
    --color-gold-200: #f6e3a7;
    --color-gold-300: #f1d57b;
    --color-gold-400: #edc74f;
    --color-gold-500: #e8b923;
    --color-gold-600: #ba941c;
    --color-gold-700: #8b6f15;
    --color-gold-800: #5d4a0e;
    --color-gold-900: #2e2507;
}
