
form {
    .fi-input {
        @apply bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg block w-full p-2.5 focus:outline-none focus:ring-rose-600  focus:border-rose-600 !important; 
    }
    div .fi-input-wrp {
        @apply  [&:not(:has(.fi-ac-action:focus))]:focus-within:ring-rose-600 !important;
    }
    .fi-select-input {
        @apply bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-rose-600 focus:border-rose-600 block w-full p-2.5;
    }
    input[name="data.selectedPaint"] {
        @apply checked:bg-rose-600 dark:checked:bg-rose-600 !important;
    }
    .fi-textarea {
        @apply bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-rose-600 focus:border-rose-600 block w-full p-2.5;
    }

    label:has(.fi-radio-input) {
        @apply inline-flex items-baseline gap-3 checked:border-black !important;
    }

    button {
        @apply sm:max-w-fit px-24 bg-rose-600 text-white text-base font-semibold rounded-lg focus:ring-rose-600 focus:border-rose-600 block w-full p-2.5 !important;
    }

    button:hover {
        @apply bg-rose-700;
    }

}

.description {
    ul {
        @apply list-disc list-inside ml-4 mb-4;
    }
    ol {
        @apply list-decimal list-inside ml-4 mb-4;
    }
    li {
        @apply mb-1;
    }
}